html, #root {
  background-color: gainsboro;
}

.heading {
  text-align: center;
}

.container-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  margin: 20px;
}